/* seccion blog */
#titulo {
  margin-bottom: 2rem; }

#titulo > h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }

#titulo hr {
  background-color: palegreen;
  height: 4px;
  display: grid;
  width: 40rem;
  margin-left: auto;
  margin-right: auto; }

#container-tercera-seccion {
  text-align: center;
  display: flex;
  flex-direction: row; }

.img-tercera1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.img-tercera > h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 70%;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.img-tercera1 > p {
  display: flex;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.img-tercera1 > img {
  width: 70%;
  height: 30%; }

/* <!-- #Seccion tercera Blog--> */
#tercera-seccion {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-top: 3rem;
  padding-bottom: 5rem; }

#tercera-seccion1 {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-top: 3rem;
  padding-bottom: 5rem; }

#titulo {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }

#titulohr {
  background-color: palegreen;
  height: 4px;
  display: grid;
  width: 40rem;
  margin-left: auto;
  margin-right: auto; }

.imagen {
  display: flex;
  width: 75%;
  height: 35%;
  padding-block-end: 100px;
  padding-left: 300px;
  padding-top: 50px; }

p {
  display: flex;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify; }

H1 {
  font-size: 30px; }

/* <!-- #Seccion botones --> */
.boton-verde {
  text-decoration: none;
  color: white;
  font: 0.2rem;
  font-family: monospace, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #0d690d;
  padding: 1rem 2rem;
  display: inline-block;
  align-self: center; }

.boton-verde {
  letter-spacing: 1px;
  transition: box-shadow 0.5s letter-spacing 0.5s;
  margin-left: 4rem; }

.boton-verde:hover {
  letter-spacing: 5px;
  box-shadow: 0 0 0 5px palegreen; }

#imagencarrucel {
  width: 100%;
  height: 30rem; }

#TextosCarrucel {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif; }

@media only screen and (min-width: 320px) and (max-width: 780px) {
  .slider, .slider ul, .slider img {
    height: 100vh; } }

#contacto {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem; }

.contacto--section {
  margin-top: 3rem;
  font-size: 1rem; }

.H1 {
  font-size: 30px;
  text-align: justify; }

.wrapper {
  margin-top: 30px; }

.card {
  border: 1px solid #eee;
  cursor: pointer; }

.weight {
  margin-top: -65px;
  transition: all 0.5s; }

.weight small {
  color: #e2dede; }

.buttons {
  padding: 10px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s; }

.dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0; }

.cart-button {
  height: 48px; }

.cart-button:focus {
  box-shadow: none; }

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden; }

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards; }

@keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%; }
  25% {
    opacity: 1;
    left: 26%;
    top: 0%; }
  50% {
    opacity: 1;
    left: 23%;
    top: -22%; }
  75% {
    opacity: 1;
    left: 19%;
    top: -18%; }
  100% {
    opacity: 1;
    left: 14%;
    top: 28%; } }

.card:hover .buttons {
  opacity: 1; }

.card:hover .weight {
  margin-top: 10px; }

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden; }

/* <!-- #Seccion tercera productos--> */
#tercera-seccion {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 5rem; }

#tercera-seccion1 {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 5rem; }

#titulo {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem; }

#titulohr {
  background-color: palegreen;
  height: 4px;
  display: grid;
  width: 40rem;
  margin-left: auto;
  margin-right: auto; }

.img-tercera {
  width: 100%;
  height: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 5rem;
  font-weight: 70%; }

.img-tercera > h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 70%;
  margin-top: auto;
  margin-bottom: 1rem; }

.img-tercera > P {
  margin-bottom: 3rem;
  margin-left: 1rem; }

p {
  display: flex;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: justify; }

* {
  padding: 0;
  margin: 0;
  font-size: 62,9%;
  font-family: 'Montserrat', sans-serif; }

.navbar {
  width: 100%;
  height: auto;
  margin-top: -3.5%; }

#comienso1 {
  padding-left: 1rem;
  margin-right: 7rem;
  margin-left: 10rem; }

#logo {
  width: 12%;
  height: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
  padding-left: 1rem;
  padding-right: 2rem; }

.container {
  width: 100%;
  max-width: 1000%; }

.text-uppercase {
  font-size: 90%; }

.text-center .p-3 {
  font-size: 80%; }
