
  #imagencarrucel{
    width: 200%;
    height: 30rem;
  }
  
  #TextosCarrucel{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  @media only screen and (min-width:320px) and (max-width:780px){
  .slider, .slider ul, .slider img{
    height: 100vh;}
  }