*{ 
    padding: 0;
    margin: 0;
    font-size: 62,9%;
    font-family:'Montserrat', sans-serif;
}
  
    .navbar {
    width: 100%;
    height: auto;
    margin-top: -3.5%;
  
  }
  
  #comienso1 {
    padding-left: 1rem;
    margin-right: 7rem;
    margin-left: 10rem;
  }
  
  #logo {
    width: 12%;
    height: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    padding-left: 1rem;
    padding-right: 2rem;
    
  
  }

// contenedores : blog, producto.

.container{
  width:100%;
  max-width: 1000%;
}

// contenedores de footer
  .text-uppercase {
    font-size:90%;
  }

  .text-center .p-3{
    font-size:80%;
  }

